body {
    margin: 0%;
    color: white;
    background: black ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0%;
    padding: 10px;
    background:rgb(16, 16, 16);
}
#title{
    display: block;
    align-items: left;
    text-align:left;
    font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, italic;
    line-height: 0.5;
    
}
#title:hover{
    display: block;
    align-items: left;
    text-align:left;
    font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, italic;
    line-height: 0.5;
    transform: rotate(0.02turn);
    transition: 0.5s ease-in;
}
#buy{
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, italic;
    font-size:large;
    color: white;
    background-color: rgb(9, 9, 9);
    border-radius: 20px;
}
#buy:hover{
    background: white;
    transition: 0.3s ease-in;
}
main{
    display:block;
    background: rgb(10, 10, 10);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    margin-top: 0%;
    justify-content: center;
    padding-bottom: 2%;
}
article{
    font-size: 25px;
    font-weight: 2;
}
#wallet{
    display: flex;
    justify-content: center;
}
#picture:hover{
    width: 80%;
    height: 80%;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(16, 16, 16);
    padding: 1%;
    
}
#contacts{
    display: flex;
    justify-content: space-between;
    width: 18%;
}